@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

.material-icons{
    color: #979797;

}

/* HEADER PART / NAVIGATION BAR */

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
    background-color: #ffffff;
}

.header_left {

    display: flex;
    align-items: center;

}

.header_left img{

    width: 100px;
    margin-left: 15px;
    cursor: pointer;
}

.header i{
    padding: 0px 7px;
    cursor: pointer;

}

.header_search form {

    border: 1px solid #ddd;
    height:35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_search input {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;

}    

.header_search button {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

/* quick selectION PART */

.quick_select{
    background-color: white;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    margin-left: 240px;
}

.quick_select_item {
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0, 0.05);
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 16px;
    margin: 12px 12px 12px 0;
    cursor: pointer;
}

.quick_select_item:first-child{
    margin-left: 24px;
}

.quick_select_item_top{
    background-color: black;
    color: white;

    color: aliceblue;
}

/* MAIN PART / SIDE BAR */

.main_body{
    
    display: flex;
    overflow: hidden;
    top: 48px;
    
}

.side_bar{

   height: calc(100vh - 48px);
    width: 240px  ;
    background-color: white;
    overflow-y: scroll;
    position: absolute;
    top: 48px;
    left: 0px;
    bottom: 0px;
    padding: 12px 0;

}

.side_bar_catagories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
    margin-top: 15px;

}

.SUBSCRIPTIONS{

    padding: 8px 24px;
}


.side_bar_catagory{

    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.side_bar_catagory span{

    margin-left: 15px;

}

.side_bar_catagory:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}


/* VIDEO */

.video_container {

    width : calc(100% - 250px);
    margin-top: 25px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
    overflow-x: hidden;

}

.video{

    min-height: 250px;
    height: auto;

}

.thumbnail{

    width: 100%;
    height: 150px;
    object-fit: cover;

}

.content{

    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
}

.channel-icon{

    width: 40%;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
      
}

.title{

    height: 40px;
    width: 100%;
    overflow: hidden;

}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;

}